<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
{{>navbar}}

  <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <div class="col-md-6 col-12 header_right align-items-center">
                <figure>
                    <img src="images/p.png" alt="about" class="img-fluid" title="about">
                </figure>
              </div>

              <div class="col-md-6 col-12 header_left">
               
                <p>Welcome weather app</p>
                  <h1>i am a<span class="txt"> mernstack developer</span>freelancer</h1>
                  <a href="/weather"><button>about me</button></a>
                </div>
              </div>
            </div>
          </div>
      </div>


 {{>footer}}
</body>
</html> 