<!DOCTYPE html>
<html lang="en">
<head>
   {{>header}}
</head>
<body>
{{>navbar}}

  <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <div class="col-md-12 col-12 header_left align-items-center">
                <figure>
                    <img src="images/e.png" alt="about" class="img-fluid" title="about">
                </figure>
              
               
                  <h1>{{errormsg}}</h1>
                  <a href="/weather"><button>go back</button></a>
                </div>
              </div>
            </div>
          </div>
      </div>


 {{>footer}}
</body>
</html> 