<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}

  <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <div class="col-md-6 col-12 header_left">
                  <p>Welcome weather app</p>
                  <h1>Get the Latest<span class="txt">Weather</span>info your city</h1>
                  <a href="/weather"><button>Check now</button></a>
              </div>

              <div class="col-md-6 col-12 header_right">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="images/bg.png" class="w-100" alt="1slide">
                    </div>
                    <div class="carousel-item">
                      <img src="images/bg1.png" class="w-100" alt="2slide">
                    </div>
                    <div class="carousel-item">
                      <img src="images/bg4.png" class="w-100" alt="3slide">
                    </div>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>

{{>footer}}
</body>
</html>